.formContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    margin: 120px 0 0 0;
    height: 302px;
    width: 480px;
    row-gap: 24px;
}

.buttonContainer{
    width: 196px;
    height: 56px;
    margin: 0 0 80px 0;
}

.buttonContainer > button {
    width: 100%;
}

/*для выделенных элементов*/
.formContainer > p> span {
    color: #4C4CFF;
    cursor: pointer;
}

.tabsContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    width:100%;
    column-gap: 30px;
}

.tabsContainer > p{
    font-weight: bold; color: #4c4cff;
    cursor:pointer;
}

