.flexModel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.modalActive{
    composes: flexModel;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.6);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 6;
}
